<a href="https://colab.research.google.com/github/Praneeth9630/Data-Science-and-AI/blob/main/DA_Python_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s=0
while True:
  n=input("enter the item value")
  if n=="#":
    break
  s= s+eval(n)
  print("sum:",s)
print("the final value is:",s)

enter the item value500
sum: 500
enter the item value480
sum: 980
enter the item value#
the final value is: 980

In [2]:
x = 1

while x<=5:
  print("Python")
  if x == 10:
    break
  x += 1
else:
  print("DS")

Python
Python
Python
Python
Python
DS

In [3]:
x = 1

while x<=5:
  print("Python")
  if x == 3:
    break
  x += 1
else:
  print("DS")

Python
Python
Python

**loop:** repeating the code

**while:** till condition satisfies

**for:** for each value in sequence

**for loop:** for each value in sequence, repeating the

**sequence:** str, list, tuple, set, range

**Syntax of for loop:**

for variable_name in sequence:

    block of code



**while loop**

In [4]:
l = [1,2,3,4]

i = 1
while i in l:
  print(i)
  i = i + 1

1
2
3
4

**For loop**

In [5]:
l = [1,2,3,4]

i = 1
for i in l:
  print(i)

1
2
3
4

In [6]:
for i in "abc":
  print(i, "Python")

a Python
b Python
c Python

In [7]:
for i in 100:
  print(i, "Python")

TypeError: 'int' object is not iterable

In [8]:
for i in 11.5:
  print(i, "Python")

TypeError: 'float' object is not iterable

In [12]:
l = ["srk", 1,23.4, True, 23, 46,57, [1,2,3]]
s=0
for i in l:
  if type(i) in [int, float]:
    s=s+i
print(s)

150.4

In [13]:
l = ["srk", 1,23.4, True, 23, 46,57, [1,2,3]]
n = []

for i in l:
  if type(i) == int or type(i) == float:
    n.append(i)

print(n)

[1, 23.4, 23, 46, 57]

In [17]:
l = ["srk",1,23.4, True, 23,46,57, [1,2,3]]
i=[]
f=[]
b=[]
s=[]
li=[]
t=[]
s=[]
d= []

for z in l:
  if type(z) == int:
    i.append(z)
  elif type(z) == float:
    f.append(z)
  elif type(z) == bool:
    b.append(z)
  elif type(z) == str:
    s.append(z)
  elif type(z) == list:
    li.append(z)


print(i)
print(f)
print(b)
print(s)
print(li)

print(i, f, b, s, li)

[1, 23, 46, 57]
[23.4]
[True]
['srk']
[[1, 2, 3]]
[1, 23, 46, 57] [23.4] [True] ['srk'] [[1, 2, 3]]