# **Decision Making statements**
- These are also called as Conditional statements or Control flow statements in python
 - if
 - if-else
 - if-elif
 - if-elif-else
 - nested if

# **Block Structure**
- The code that is executed when a specific condition is met is defined in a "block."
- Statements preceding blocks generally end with a colon (:)
- In Python, the block structure is signalled by changes in indentation.
- Each line of code in a certain block level must be indented equally and indented more than the surrounding scope.
- The standard is to use 4 spaces for each level of block indentation.

# **if:**
-  An if statement consists of a Boolean expression followed by one or more lines of code
- only if condition is True, it exectes the lines of code inside the block
-  If the text expression is False, the statement(s) is not executed.

In [ ]:
1 < 2

True

In [ ]:
if 1<2 :
  print("Data Science")
  print("praneeth")
  print("surya")

Data Science
praneeth
surya

In [ ]:
if 1<2 :

print("Data Science")
  print("praneeth")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-4-bbc884214a3b>, line 3)

In [ ]:
if 1+2 :                               # It will take bool of 1 + 2
  print("Data Science")
  print("praneeth")
  print("surya")

Data Science
praneeth
surya

In [ ]:
if True :
  print("Data Science")
  print("praneeth")
  print("surya")

Data Science
praneeth
surya

In [ ]:
if 1>3:
  print("DS")    # it will ignore

In [ ]:
if 1 < 2:
  a = 20
  b = 30
  c = a + b
  print(c)

50

In [ ]:
if True :
  print("Data Science")
  print("praneeth")
  print("surya")
print("Out of IF block")  # Irrespective of condition in it will run

Data Science
praneeth
surya
Out of IF block

In [ ]:
if False :
  print("Data Science")
  print("praneeth")
  print("surya")
print("Out of IF block")  # Irrespective of condition in it will run

Out of IF block

In [ ]:
name = input("Enter your name: ")

if name == "praneeth":
  print("Hey Praneeth")

Enter your name: praneeth
Hey Praneeth

In [ ]:
x = 9

if x > 0 and x < 10:
  print("Data Science")
  print("Python")

print("Praneeth")

Data Science
Python
Praneeth

In [ ]:
x = 11

if x > 0 and x < 10:
  print("Data Science")
  print("Python")

print("Praneeth")

Praneeth

# **if - else:**

In [ ]:
a,b,c,d = 2,2,3,4

if (a==b and c!= d):
  print("abc")
else:
  print("def")

print("praneeth")

abc
praneeth

In [ ]:
a,b,c,d = 2,2,3,4

if (a==b and c== d):
  print("abc")
else:
  print("def")

def

In [ ]:
marks = eval(input("Enter your marks: "))

if marks >= 70:
  print("You are qualified")
else:
  print("you are not qualified")

Enter your marks: 80.5
You are qualified

# **if - elif:**

In [ ]:
if 1 > 5:
  a = 50
  print(a+10)
elif 2<3:
  print("Data")

Data

In [ ]:
marks= eval(input("your marks :"))

if marks >=90:
  print("Grade A")
elif marks>=70:
  print("Grade B")
elif marks<70:
  print("Failed")

your marks :70
Grade B

# **if - elif - else:**

In [ ]:
x = 1

if x > 0:
  print("Positive")
elif x == 0:
  print("Zero")
else :
  print("Negative")

Positive

In [ ]:
marks= eval(input("your marks :"))

if marks >=90:
  print("Grade A")
elif marks>=70:
  print("Grade B")
else:
  print("Failed")

your marks :65
Failed

# **Nested if Statements**
- We can have a if...elif...else statement inside another if...elif...else statement. This is called nesting in computer programming.

In [ ]:
if 1<3:
  if 2>3:
    print("srk")
  else:
    print ("python")
else:
  print("ds")

python

In [ ]:
#atm machine
pin=1234
balance=50000

entered_pin = int(input("enter the pin number:"))
if entered_pin == pin:
  amount = int(input("enter the amount for withdrawl"))
  if amount<=balance:
    print("transcation completed")
  else:
    print("insufficient balance")
else:
  print("invalid pin")

enter the pin number:3456
invalid pin